<h2 id="title">
  Ember Basic Template Helpers
</h2>
{{!-- {{outlet}} --}}
<h2>
  Debug Helper
</h2>
<p>
  A helper that prints an unlimited number of strings to the console. Each string should be a seperate argument.
</p>
<h4>
  Example:
</h4>
<p>
  \{{db "Debug Message" "Another Debug Message"}}
</p>
<p>
  Check the console to see the above messages.
</p>
{{db "Debug Message" "Another Debug Message"}}